*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"RR";
}
a{
    text-decoration: none;

}
ul{
    list-style: none;
}
.body{
    color: #E5E5E5;
}
.container{
    max-width: 1140px;
    width:100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav{
    background-color: #322E41;
}
.header-nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-list{
    display: flex;
    flex-wrap: wrap;
}
.header-nav-link{
 font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
transition-duration: 1s;
padding: 22px;
display: block;
}
.header-nav-link:hover{
    color: #D47300;
    background-color: #FFFFFF;
}
.header-content{
    background: url(../images/headerbg.jpg)no-repeat center /cover ;
    height:700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.header-content-title{
    font-weight: 700;
font-size: 50px;
line-height: 59px;
color: #FFFFFF;
font-family: "RB";
}
.header-content-text{
    font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
.header-content-text span{
    font-family: "RB";
}
.main-box-left,
.main-box-right{
    max-width: 540px;
    width: 100%;
}
.main-box-left{
    background: rgb(228, 219, 203);
    border-radius: 6px;
    padding: 15px;
}
.main-box-title{
 font-weight: 700;
font-size: 22px;
line-height: 26px;
color: #2C2A2A;
font-family: "RB";
margin-top:20px ;
margin-bottom: 10px;
}
.main-box-text{
font-size: 16px;
line-height: 19px;
color: #9B9B9B;
}
.main-box{
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
    margin-bottom: 30px;
}
.main-box-item{
    max-width: 255px;
width: 100%;
background: rgb(228, 219, 203);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 2px 4px 8px  black ;
}
.main-box-photo{
    width: 80px;
    height: 80px;
    border: 2px orange solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box-info{
    font-size: 16px;
    color:grey;
    text-align: center;
    line-height: 16px;
}
.main-box-right{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.footer{
    background:#322E41 ;
    padding: 40px 0;
}
.footer-form{
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-form-input{
    background: #FFFFFF;
border-radius: 6px;
padding: 9px 10px;
border: none;
outline: none;
font-size: 16px;
line-height: 18px;
color: #9B9B9B;
}
.footer-form-textarea{
    background: #FFFFFF;
border-radius: 6px;
padding:10px 58px 10px 10px ;
border: none;
outline: none;
font-size: 16px;
line-height: 18px;
color: #9B9B9B;
height: 85px;
resize: none;
}
.footer-form-btn{
    background: #544294;
border-radius: 6px;
padding:  9px 150px;
color: white;
border: none;
outline: none;
font-size: 16px;
line-height: 18px;
transition-duration: 1s;
}
.footer-form-btn:hover{
    background: plum;
    cursor: pointer;
    color: aqua;
}
.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-box-list{
    max-width: 235px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   row-gap: 10px;
   column-gap: 60px;
}
.footer-box-link{
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
display: block;
width: 85px;
transition-duration: 0.5s;
}
.footer-box-link:hover{
    color:orange;
}
.foooter-box-icons{
   column-gap: 40px;
    display: flex;
}
.main-works-img{
    width: 100%;
}
/* медия запросы */
@media(max-width:1140px){
    .main-box{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}
@media(max-width:900px){
    .footer-box{
        flex-direction: column;
        row-gap: 30px;
    }
    .header-nav-box{
        flex-direction: column;
        row-gap: 15px;
    }
    .header-nxv{
        padding: 10px 0;
    }
    .header-content{
        height: auto;
        padding: 150px ;
    }
    .header-nav-list{
        justify-content: center;
    }
}
@media(max-width:600px){
    .main-box-item{
        max-width: none;
    }
}